---
layout: default
---

<main id="page_1">

  {% for post in site.posts limit:1 %}
    <section class="section_1 bg-image" style="background-image: url({{ post.featured_image  | prepend:site.baseurl }});">
      <div class="container">
        <div class="row">
          <div class="col-sm-8 col-md-6 col-lg-5">
            <!-- Text block -->
            <div class="text-block">
              <h1 class="text-block__heading">
                {{ post.title }}
              </h1>
              <time class="text-block__time" datetime="{{ post.date }}">
                <i class="fa fa-clock-o"></i> {{ post.date | date: '%d.%B,%Y'}}
              </time>
              <p class="text-block__content">
                {{ post.summary | strip_html | truncatewords: 20  }}
              </p>
              <a href="{{ post.url | prepend:site.baseurl }}" class="btn btn-default">
                Weiterlesen
              </a>
            </div>
          </div>
        </div> <!-- / .row -->
      </div> <!-- / .container -->
    </section>
    <!-- Section #1 -->
  {% endfor %}

  <!-- Section #2 -->
  <section class="section_2 section_blog-item">
    <div class="container">
    </div> <!-- / .container -->
  </section>

{% assign mid_posts = site.posts | where: 'middle', true %}

{% for post in mid_posts limit:1 %}
    <!-- Sectio #3 -->
    <section class="section_3 bg-image" style="background-image: url({{ post.featured_image | prepend:site.baseurl }});">
      <div class="container">
        <div class="row">
          <div class="col-sm-8 col-sm-offset-2">
            <!-- Text block -->
            <div class="text-block text-center">
              <h3 class="text-block__heading">
                {{ post.title }}
              </h3>
              <time class="text-block__time" datetime="{{ post.date }}">
                <i class="fa fa-clock-o"></i> {{ post.date | date: '%d.%B,%Y' }}
              </time>
              <p class="text-block__content">
                {{ post.summary | strip_html | truncatewords: 20 }}
              </p>
              <a href="{{ post.url | prepend:site.baseurl }}" class="btn btn-default">
                Weiterlesen
              </a>
            </div>
          </div>
        </div> <!-- / .row -->
      </div> <!-- / .container -->
    </section>
{% endfor %}

<!-- Section #4: Other blocks would be loaded here -->
<section class="section_4 section_blog-item section_empty">
  <div class="container">
  </div> <!-- / .container -->
</section>

<!-- Section #5: Load more button -->
<section class="section_5">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 text-center">

        <a href="#" class="btn btn-default" id="blog-items__load">Weitere Stories Laden</a>

      </div>
    </div> <!-- / .row -->
  </div> <!-- / .container -->
</section>

</main> <!-- #blog -->
