<head>
  <title>
    {% if page.title %}
      {{ page.title }} &ndash;
    {% endif %}
  </title>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="shortcut icon" href="https://www.ara-shoes.de/out/azure/img/favicon.ico">
  <link rel="alternate" type="application/rss+xml" href="/public/atom.xml" />

  <!-- CSS: Plugins -->
  <link rel="stylesheet" href="{{ site.baseurl }}/public/assets/plugins/font-awesome/css/font-awesome.min.css">

  <!-- CSS: Original -->
  <link rel="stylesheet" type="text/css" href="https://www.ara-shoes.de/out/azure/src/css/forms.css?1467621216" />
  <link rel="stylesheet" type="text/css" href="https://www.ara-shoes.de/out/azure/src/css/ara.css?1472545226" />

  <!-- CSS Global -->
  <link rel="stylesheet" href="{{ site.baseurl }}/public/assets/css/styles.css">

  <!-- Javascript
  ================================================== -->

  <!-- JS Global -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

  <!-- JS Plugins -->

  <!-- JS Custom -->
  <script src="{{ site.baseurl }}/public/assets/js/custom.js"></script>
</head>
