div.selector,
div.selector span,
div.checker span,
div.radio span{background-image:url('../../img/sprite-form.png');background-repeat:no-repeat;}
.selector,
.radio,
.checker,
.uploader,
.selector *,
.radio *,
.checker *,
.uploader *{margin:0;padding:0;}
div.selector{background-position:-483px -140px;line-height:25px;height:25px;}
div.selector span{background-position:right 0px;height:25px;line-height:25px;}
div.selector select{top:0px;left:0px;}
div.selector:active,
div.selector.active{background-position:-483px -190px;}
div.selector:active span,
div.selector.active span{background-position:right -50px;}
div.selector.focus, div.selector.hover, div.selector:hover{background-position:-483px -190px;}
div.selector.focus span, div.selector.hover span, div.selector:hover span{background-position:right -50px;}
div.selector.focus:active,
div.selector.focus.active,
div.selector:hover:active,
div.selector.active:hover{background-position:-483px -190px;}
div.selector.focus:active span,
div.selector:hover:active span,
div.selector.active:hover span,
div.selector.focus.active span{background-position:right -50px;}
div.selector.disabled,
div.selector.disabled:active,
div.selector.disabled.active{background-position:-483px -165px;}
div.selector.disabled span,
div.selector.disabled:active span,
div.selector.disabled.active span{background-position:right -25px;}
div.checker{width:16px;height:16px;}
div.checker input{width:16px;height:16px;}
div.checker span{background-position:0px -280px;height:16px;width:16px;}
div.checker:active span,
div.checker.active span{background-position:-64px -280px;}
div.checker.focus:active span,
div.checker:active:hover span,
div.checker.active:hover span,
div.checker.focus.active span{background-position:-64px -280px;}
div.checker:active span.checked,
div.checker.active span.checked{background-position:-64px -280px;}
div.checker.focus:active span.checked,
div.checker:hover:active span.checked,
div.checker.active:hover span.checked,
div.checker.active.focus span.checked{background-position:-64px -280px;}
div.checker.focus span,
div.checker:hover span{background-position:-48px -280px;}
div.checker.focus span.checked,
div.checker:hover span.checked{background-position:-64px -280px;}
div.checker.disabled span,
div.checker.disabled:active span,
div.checker.disabled.active span{background-position:-32px -280px;}
div.checker.disabled span.checked,
div.checker.disabled:active span.checked,
div.checker.disabled.active span.checked{background-position:-144px -280px;}
div.checker span.checked{background-position:-16px -280px;}
div.radio{width:19px;height:19px;}
div.radio input{width:19px;height:19px;}
div.radio span{height:19px;width:19px;background-position:0px -296px;}
div.radio span.checked{background-position:-19px -296px;}
div.radio:active span,
div.radio.active span{background-position:-19px -296px;}
div.radio.focus span,
div.radio:hover span{background-position:-38px -296px;}
div.radio.focus:active span,
div.radio:active:hover span,
div.radio.active:hover span,
div.radio.active.focus span{background-position:-38px -296px;}
div.radio:active span.checked,
div.radio.active span.checked{background-position:-19px -296px;}
div.radio.focus span.checked, div.radio:hover span.checked{background-position:-19px -296px;}
div.radio.focus:active span.checked,
div.radio:hover:active span.checked,
div.radio.focus.active span.checked,
div.radio.active:hover span.checked{background-position:-38px -296px;}
div.radio.disabled span,
div.radio.disabled:active span,
div.radio.disabled.active span{background-position:-152px -296px;}
div.radio.disabled span.checked,
div.radio.disabled:active span.checked,
div.radio.disabled.active span.checked{background-position:-171px -296px;}
*/div.selector{width:153px;}
div.selector select{width:179px;font-family:Arial, sans-serif;font-size:11px;border:solid 1px #fff;}
div.selector span{padding:0px 22px 0px 0px;margin-left:-3px;cursor:pointer;}
div.selector span{color:#353535;width:158px;text-shadow:0 1px 0 #fff;}
div.selector.disabled span{color:#bbb !important;}
div.checker{margin-right:10px;}
div.radio{margin-right:5px;}
.selector select:focus, .radio input:focus, .checker input:focus, uploader input:focus{outline:0;}
div.selector{position:relative;padding:0 2px 0 9px !important;overflow:hidden;}
div.selector span{display:block;float:left;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;font-family:Arial, sans-serif;font-size:11px}
div.selector select{position:absolute;opacity:0;height:25px;border:none;background:none;}
div.checker{position:relative;float:left;}
div.checker span{display:block;float:left;text-align:center;}
div.checker input{opacity:0;display:inline-block;background:none;}
div.radio{position:relative;float:left;}
div.radio span{display:block;float:left;text-align:center;}
div.radio input{opacity:0;text-align:center;display:inline-block;background:none;}