<!-- section image, alt, external_url and title, body -->
{% assign img1 = page.sections['section_one']['photo']['name'] | prepend:site.imgbase %}
{% assign alt1 = page.sections['section_one']['photo']['alt'] %}
{% assign img1_ext_url  = page.sections['section_one']['photo']['ext_url'] %}

{% assign title = page.sections['section_one']['title'] | textilize %}
{% assign body = page.sections['section_one']['body'] | textilize %}

<!-- author photo, alt and name, position -->
{% assign img2 = page.sections['section_one']['author']['photo']['name'] | prepend:site.imgbase %}
{% assign alt2 = page.sections['section_one']['author']['photo']['alt'] %}
{% assign img2_ext_url  = page.sections['section_one']['author']['photo']['ext_url'] %}
{% assign author_name = page.sections['section_one']['author']['name'] | textilize %}
{% assign author_position = page.sections['section_one']['author']['position'] | textilize %}

<!-- Blog: Item #1 -->
<section class="section_blog-item section_blog-item_1">
  <div class="row">
    <div class="col-md-6">
      <div class="blog-item__block">
        <!-- Blog item: Image -->
        <a href="{{ img1_ext_url }}" target="_blank">
          <img src="{{ img1 }}" alt="{{ alt1 }}">
        </a>
      </div>
    </div>

    <div class="col-md-6 col-md-pull-1 col-lg-pull-2">
      <div class="blog-item__block">
        <div class="blog-item__body">
          <!-- Blog item: Heading -->
          <h2 class="blog-item__heading">
            {{ title }}
          </h2>

          <!-- Blog item: Quote -->
          <div class="blog-item__quote">
            <!-- Content -->
            <p>
              {{ body }}
            </p>
            <!-- Author -->
            <div class="blog-item-quote__author">
              <div class="blog-item-quote-author__img">
                <a href="{{ img2_ext_url }}" target="_blank">
                  <img src="{{ img2 }}" alt="{{ alt2 }}">
                </a>
              </div>
              <div class="blog-item-quote-author__name__info">
                <div class="blog-item-quote-author__name">
                  {{ author_name }}
                </div>
                <div class="blog-item-quote-author__position">
                  {{ author_position }}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div> <!-- / .row -->
</section>
