<!-- section image, alt and title, body -->
{% assign img1 = page.sections['section_four']['photo']['name'] | prepend:site.imgbase %}
{% assign alt1 = page.sections['section_four']['photo']['alt'] %}
{% assign img1_ext_url  = page.sections['section_four']['photo']['ext_url'] %}
{% assign title = page.sections['section_four']['tip']['title'] | textilize %}
{% assign caption = page.sections['section_four']['tip']['body'] | textilize %}

<!-- Blog: Item #4 -->
<section class="section_blog-item section_blog-item_4">
  <div class="row">

    <div class="col-sm-12">
      <div class="blog-item__block">
        <!-- Blog item: Image -->
        <a href="{{ img1_ext_url }}" target="_blank">
          <img src="{{ img1 }}" alt="{{ alt1 }}">
        </a>
      </div>
    </div>

    <div class="col-sm-12">
      <!-- Blog item: Tip -->
      <div class="blog-item-tip__container">
        <div class="blog-item__tip">
          <h3 class="blog-item-tip__heading">
            {{ title }}
          </h3>
          <p class="blog-item-tip__content">
            {{ caption }}
          </p>
        </div>
      </div>
    </div>

  </div> <!-- / .row -->
</section>
