<!-- section image, alt and title -->
{% assign img1 = page.sections['section_two']['photo']['name'] | prepend:site.imgbase %}
{% assign alt1 = page.sections['section_two']['photo']['alt'] %}
{% assign img1_ext_url  = page.sections['section_two']['photo']['ext_url'] %}
{% assign title = page.sections['section_two']['title'] | textilize %}

<!-- tip heading and content -->
{% assign tip_heading = page.sections['section_two']['tip']['title'] | textilize %}
{% assign tip_content = page.sections['section_two']['tip']['body'] | textilize %}

<!-- section main caption -->
{% assign caption = page.sections['section_two']['caption']['body'] | textilize %}

<!-- Blog: Item #2 -->
<section class="section_blog-item section_blog-item_2">
  <div class="row">
    <div class="col-sm-12">
      <div class="blog-item__block">
        <!-- Blog item: Image -->
        <a href="{{ img1_ext_url }}" target="_blank">
          <img src="{{ img1}}" alt="{{ alt1 }}">
        </a>
        <!-- Blog item: Heading -->
        <h2 class="blog-item__heading blog-item__absolute">
          {{ title }}
        </h2>
      </div>
    </div>
  </div> <!-- / .row -->

  <div class="row">
    <div class="col-md-4">
      <!-- Blog item: Tip -->
      <div class="blog-item-tip__container">
        <div class="blog-item__tip">
          <h3 class="blog-item-tip__heading">
            {{ tip_heading }}
          </h3>
          <p class="blog-item-tip__content">
            {{ tip_content }}
          </p>
        </div>
      </div>
    </div>

    <div class="col-md-8">
      <!-- Blog item: Caption -->
      <div class="blog-item__caption">
        <!-- Content -->
        <p>
          {{ caption }}
        </p>
      </div>
    </div>
  </div> <!-- / .row -->
</section>
