{% assign section = include.param %}
<!-- section image, alt and title -->
{% assign img1 = section.photo.name %}
{% unless img1 contains '://' %}
  {% assign img1 = section.photo.name | prepend:site.imgbase %}
{% endunless %}

{% assign alt1 = section.photo.alt %}
{% assign img1_ext_url  = section.photo.ext_url | strip %}
{% assign title = section.title | textilize %}

<!-- tip heading and content -->
{% assign tip_heading = section.tip.title | textilize %}
{% assign tip_content = section.tip.body | textilize %}

<!-- section main caption -->
{% assign caption = section.caption.body | markdownify %}

<!-- Blog: Item #2 -->
<section class="section_blog-item section_blog-item_2">
  <div class="row">
    <div class="col-sm-12">
      <a href="{{ img1_ext_url }}" target="_blank"  {% if img1_ext_url == "" %}class="inactive-link"{% endif %}>
        <div class="blog-item__block">
          <!-- Blog item: Image -->
          <img src="{{ img1}}" alt="{{ alt1 }}">
          <!-- Blog item: Heading -->
          <h2 class="blog-item__heading blog-item__absolute">
            {{ title }}
          </h2>
        </div>
      </a>
    </div>
  </div> <!-- / .row -->

  <div class="row">
    <div class="col-md-4 {% unless section.caption %}col-md-offset-4{% endunless %}">
      {% if section.tip %}
      <!-- Blog item: Tip -->
      <div class="blog-item-tip__container">
        <div class="blog-item__tip">
          <h3 class="blog-item-tip__heading">
            {{ tip_heading }}
          </h3>
          <div class="blog-item-tip__content">
            {{ tip_content }}
          </div>
        </div>
      </div>
      {% endif %}
    </div>

    <div class="col-md-8 {% unless section.tip %}col-md-offset-2{% endunless %}">
      {% if section.caption %}
      <!-- Blog item: Caption -->
      <div class="blog-item__caption">
        <!-- Content -->
          {{ caption }}
      </div>
      {% endif %}
    </div>
  </div> <!-- / .row -->
</section>
