{% assign section = include.param %}
<!-- section image, alt, external_url and title, body -->
{% assign img1 = section.photo.name | prepend:site.imgbase %}
{% assign alt1 = section.photo.alt %}
{% assign img1_ext_url  = section.photo.ext_url | strip %}

{% assign title = section.title | textilize %}
{% assign body = section.body | markdownify %}

<!-- author photo, alt and name, position -->
{% assign img2 = section.author.photo.name | prepend:site.imgbase %}
{% assign alt2 = section.author.photo.alt %}
{% assign img2_ext_url  = section.author.photo.ext_url | strip %}
{% assign author_name = section.author.name | textilize %}
{% assign author_position = section.author.position | textilize %}

<!-- Blog: Item #1 -->
<section class="section_blog-item section_blog-item_1">
  <div class="row">
    <div class="col-md-6">
      <a href="{{ img1_ext_url }}" target="_blank" {% if img1_ext_url == "" %}class="inactive-link"{% endif %}>
        <div class="blog-item__block">
          <!-- Blog item: Image -->
          <img src="{{ img1 }}" alt="{{ alt1 }}">
        </div>
      </a>
    </div>

    <div class="col-md-6 col-md-pull-1 col-lg-pull-2">
      <div class="blog-item__block">
        <div class="blog-item__body">
          <!-- Blog item: Heading -->
          <h2 class="blog-item__heading">
            {{ title }}
          </h2>

          <!-- Blog item: Quote -->
          <div class="blog-item__quote">
            <!-- Content -->
              {{ body }}

            {% if section.author %}
            <!-- Author -->
            <div class="blog-item-quote__author">
              <a href="{{ img2_ext_url }}" target="_blank" {% if img2_ext_url == "" %}class="inactive-link"{% endif %}>
                <div class="blog-item-quote-author__img">
                  <img src="{{ img2 }}" alt="{{ alt2 }}">
                </div>
              </a>
              <div class="blog-item-quote-author__name__info">
                <div class="blog-item-quote-author__name">
                  {{ author_name }}
                </div>
                <div class="blog-item-quote-author__position">
                  {{ author_position }}
                </div>
              </div>
            </div>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </div> <!-- / .row -->
</section>
