{% assign title = page.sections.section_seven.title %}
{% assign items = page.sections.section_seven.items.size %}

{% case items %}
{% when 4 %} {% assign grid = 3 %}
{% when 3 %} {% assign grid = 4 %}
{% when 2 %} {% assign grid = 6 %}
{% when 1 %} {% assign grid = 12 %}
{% else %} {% assign grid = 3 %}
{% endcase %}


<!-- Blog: Item #7 -->
<section class="section_blog-item section_blog-item_7">
  <div class="row">
    <div class="col-sm-12">
      <h2 class="blog-item__heading">
        {{ title }}
      </h2>
    </div>
  </div> <!-- / .row -->

  <div class="row" >
    {% for item in page.sections.section_seven.items %}
      <div class="col-sm-{{grid}}">
        {% assign ext_url = item.ext_url | strip %}
        <a href="{{ ext_url }}" target="_blank" class="blog-item__thing-link {% if ext_url == "" %}inactive-link{% endif %}">
          <div class="blog-item__thing">
            <!-- Image -->
            <img src="{{ item.photo.name | prepend:site.imgbase }}" alt="{{ item.photo.alt }}">
            <!-- Heading -->
            <h3>
              {{ item.title }}
              <span>{{ item.cost }}</span>
            </h3>
          </div>
        </a>
      </div>
    {% endfor %}
  </div> <!-- / .row -->
</section>
