<!-- section image, alt and title, body -->
{% assign img1 = page.sections['section_five']['photo']['name'] | prepend:site.imgbase %}
{% assign alt1 = page.sections['section_five']['photo']['alt'] %}
{% assign title = page.sections['section_five']['title'] | textilize %}
{% assign caption = page.sections['section_five']['body'] | textilize %}

<!-- Blog: Item #5 -->
<section class="section_blog-item section_blog-item_5">
  <div class="row">

    <div class="col-md-6">
      <div class="blog-item__block">
        <!-- Blog item: Image -->
        <a href="{{ img1 }}" target="_blank">
          <img src="{{ img1 }}" alt="{{ alt1 }}">
        </a>
      </div>
    </div>

    <div class="col-md-6 col-md-pull-1 col-lg-pull-2">
      <div class="blog-item__block">
        <div class="blog-item__body">
          <!-- Blog item: Heading -->
          <h2 class="blog-item__heading">
            {{ title }}
          </h2>

          <!-- Blog item: Quote -->
          <div class="blog-item__caption">
            <!-- Content -->
            <p>
              {{ caption }}
            </p>
          </div>
        </div>
      </div>
    </div>

  </div> <!-- / .row -->
</section>
