<!-- Blog: Item #7 -->
<section class="section_blog-item section_blog-item_7">
  <div class="row">
    <div class="col-sm-12">
      <h2 class="blog-item__heading">
        {{ page.sections['section_seven']['title'] }}
      </h2>
    </div>
  </div> <!-- / .row -->

  <div class="row">
    <div class="col-sm-3">
      <div class="blog-item__thing">
        <a href="{{ page.sections['section_seven']['item1']['url'] }}">
          <!-- Image -->
          <img
          src="{{ page.sections['section_seven']['item1']['photo']['url'] }}"
          alt="{{ page.sections['section_seven']['item1']['photo']['alt'] }}">
          <!-- Heading -->
          <h3>
            {{ page.sections['section_seven']['item1']['name'] }}
            <span>{{ page.sections['section_seven']['item1']['cost'] }}</span>
          </h3>
        </a>
      </div>
    </div>

    <div class="col-sm-3">
      <div class="blog-item__thing">
        <a href="{{ page.sections['section_seven']['item2']['url'] }}">
          <!-- Image -->
          <img
          src="{{ page.sections['section_seven']['item2']['photo']['url'] }}"
          alt="{{ page.sections['section_seven']['item2']['photo']['alt'] }}">
          <!-- Heading -->
          <h3>
            {{ page.sections['section_seven']['item2']['name'] }}
            <span>{{ page.sections['section_seven']['item2']['cost'] }}</span>
          </h3>
        </a>
      </div>
    </div>

    <div class="col-sm-3">
      <div class="blog-item__thing">
        <a href="{{ page.sections['section_seven']['item3']['url'] }}">
          <!-- Image -->
          <img
          src="{{ page.sections['section_seven']['item3']['photo']['url'] }}"
          alt="{{ page.sections['section_seven']['item3']['photo']['alt'] }}">
          <!-- Heading -->
          <h3>{{ page.sections['section_seven']['item3']['name'] }}
            <span>{{ page.sections['section_seven']['item3']['cost'] }}</span>
          </h3>
        </a>
      </div>
    </div>

    <div class="col-sm-3">
      <div class="blog-item__thing">
        <a href="{{ page.sections['section_seven']['item4']['url'] }}">
          <!-- Image -->
          <img
          src="{{ page.sections['section_seven']['item4']['photo']['url'] }}"
          alt="{{ page.sections['section_seven']['item4']['photo']['alt'] }}">
          <!-- Heading -->
          <h3>{{ page.sections['section_seven']['item4']['name'] }}
            <span>{{ page.sections['section_seven']['item4']['cost'] }}</span>
          </h3>
        </a>
      </div>
    </div>
  </div> <!-- / .row -->
</section>
