<!-- section image, alt and body -->
{% assign img1 = page.sections['section_six']['photo']['name'] | prepend:site.imgbase %}
{% assign alt1 = page.sections['section_six']['photo']['alt'] %}
{% assign img1_ext_url  = page.sections['section_six']['photo']['ext_url'] %}
{% assign caption = page.sections['section_six']['body'] %}

<!-- Blog: Item #6 -->
<section class="section_blog-item section_blog-item_6">
  <div class="row">
    <div class="col-sm-12">
      <a href="{{ img1_ext_url }}" target="_blank">
        <div class="blog-item__block">
          <!-- Blog item: Image -->
          <img src="{{ img1 }}" alt="{{ alt1 }}">
        </div>
      </a>
    </div>
  </div> <!-- / .row -->

  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <p class="blog-item__plain">
        {{ caption }}
      </p>
    </div>
  </div> <!-- / .row -->
</section>
