<!-- Blog: Item #3 -->
<section class="section_blog-item section_blog-item_3">
  <div class="row">
    <div class="col-md-6 col-md-push-6">
      <div class="blog-item__block">
        <!-- Blog item: Image -->
        <img src="{{ page.sections['section_three']['photo'] | textilize }}" alt="...">
      </div>
    </div>

    <div class="col-md-6 col-md-pull-5">
      <div class="blog-item__block">
        <div class="blog-item__body">
          <!-- Blog item: Heading -->
          <h2 class="blog-item__heading">
            {{ page.sections['section_three']['title'] | textilize }}
          </h2>

          <!-- Blog item: Quote -->
          <div class="blog-item__caption">
            <!-- Content -->
            <p>
              {{ page.sections['section_three']['body'] | textilize }}
            </p>
          </div>
        </div>
      </div>
    </div>
  </div> <!-- / .row -->
</section>
