{% assign section = include.param %}
<!-- section image, alt and title, body -->
{% assign img1 = section.photo.name | prepend:site.imgbase %}
{% assign alt1 = section.photo.alt %}
{% assign img1_ext_url  = section.photo.ext_url %}
{% assign title = section.tip.title | textilize %}
{% assign caption = section.tip.body | markdownify %}

<!-- Blog: Item #4 -->
<section class="section_blog-item section_blog-item_4">
  <div class="row">

    {% if section.photo %}
    <div class="col-sm-12">
      <a href="{{ img1_ext_url }}" target="_blank"  {% if img1_ext_url == "" %}class="inactive-link"{% endif %}>
        <div class="blog-item__block">
          <!-- Blog item: Image -->
          <img src="{{ img1 }}" alt="{{ alt1 }}">
        </div>
      </a>
    </div>
    {% endif %}

    {% if section.tip %}
    <div class="col-sm-12">
      <!-- Blog item: Tip -->
      <div class="blog-item-tip__container">
        <div class="blog-item__tip">
          <h3 class="blog-item-tip__heading">
            {{ title }}
          </h3>
          <div class="blog-item-tip__content">
            {{ caption }}
          </div>
        </div>
      </div>
    </div>
    {% endif %}

  </div> <!-- / .row -->
</section>
